
body {

  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image:  url("http://www.pptback.com/uploads/borders-frames-notepad-backgrounds-powerpoint.jpg");
  background-size: cover;
  width: 100%;
}
h1{
  text-align: center;
  font-size: 4em;
  margin-top: 2em;
}
.list{
border: 1px solid black;
border-radius: 2px;
width: 75%;
font-size: 2em;
margin-left: 3em;
}
.list li {
  padding: 0.8em;
}